* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
body {
    background: $color-primary;
    min-height: 100vh;
    border: solid 3px $color-secondary;
    
}
h1, input, span {
    font-family: 'Big Shoulders Text', sans-serif;
}
.heading-container {
    margin: 3rem auto 0;
    .h1 {
        margin: 0 auto 2rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .1rem;
    }
    .form-control {
        margin: 0 auto;
        text-align: center;
        letter-spacing: .1rem;
        background: $color-secondary;
        color: $color-detail;
        border: 1px solid darken($color-secondary, 33%);
    }
    .form-control::placeholder {
        color: lighten($color-detail, 40%);
    }
    .weather-icon {
        margin: 2vh auto 0;
        width: 8rem;
        height: 8rem;
    }
    .weather-values {
        height: 5rem;
    }
}
.weather-values {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 7rem;
    margin: 0 auto 5vh;
    padding: 0;
    & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 5rem;
        min-height: 5rem;
        height: 80%;
        background: $color-secondary;
        padding: 0;
        border-radius: 10%;
    }
    .icon {
        width: auto;
        height: 40%;
        padding-top: 2%;
    }
    .value-span {
        padding-top: 12%;
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background: $color-secondary;
    .credits {
        font-size: .8rem;
    }
    .credits-link {
        color: darken($color-primary, 30%);
    }
}
@media (min-width: 576px) { 
    .heading-container {
        margin-top: 4rem;
        .h1 {
            font-size: 2.8rem;
        }
        .weather-icon {
            width: 10rem;
            height: 10rem;
        }
    }
     .weather-values {
        height: 8rem;
        .value-span {
            font-size: 1.4rem;
        }
     }
}
@media (min-width: 768px) {
    .heading-container {
        .h1 {
            font-size: 3.2rem;
        }
        .weather-icon {
            width: 13rem;
            height: 13rem;
        }
    }
    .weather-values {
        height: 9rem;
        .value-span {
            font-size: 1.7rem;
        }
    }
}
@media (min-width: 992px) {
    .heading-container {
        margin-top: 5rem;
        .h1 {
            font-size: 3.7rem;
        }
        .weather-icon {
            width: 13rem;
            height: 13rem;
        }
    }
    .weather-values {
        height: 10rem;
        .value-span {
            font-size: 1.9rem;
        }
    }
}
@media (min-width: 1200px) {
    .heading-container {
        .h1 {
            font-size: 4rem;
        }
        .form-control {
            font-size: 1.5rem;
        }
        .weather-icon {
            width: 14rem;
            height: 14rem;
        }
    }
    .weather-values {
        height: 14rem;
        .value-span {
            font-size: 2rem;
        }
    }
}
@media (min-width: 1400px) {
    .heading-container {
        .h1 {
            font-size: 5rem;
        }
        .form-control {
            font-size: 2rem;
        }
        .weather-icon {
            width: 16rem;
            height: 16rem;
        }
    }
    .weather-values {
        height: 15rem;
        .value-span {
            font-size: 3rem;
        }
    }
    .credits {
        font-size: 1.2rem;
    }
}
@media (min-width: 1600px) {
    .heading-container {
        .h1 {
            font-size: 6rem;
        }
        .weather-icon {
            width: 17rem;
            height: 17rem;
        }
    }
    .weather-values {
        height: 18rem;
        .value-span {
            font-size: 3.5rem;
        }
    }
}